* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    135deg,
    #667eea,
    #764ba2,
    #ff6b6b,
    #ff9f43
  );

  background-size: 400% 400%;

  animation: gradientBG 10s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Moving Background */

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}